@charset "utf-8";

.blind {position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden}
.m_content {display: block}
.pc_content {display: none}
.txt_left {text-align: left !important}
.txt_right {text-align: right !important}
.txt_center {text-align: center !important}
.fl {float: left !important}
.fr {float: right !important}
.fn {float: none !important}
.clearfix:after {content: ''; display: block; clear: both}
.skip_nav a {position: fixed; top: -40px; left: 0; width: 100%; height: 40px; background: #333; color: #fff; line-height: 40px; text-align: center; z-index: 999}
.skip_nav a:focus {top: 0}
.bold {font-weight: 500; color: #333}
.fw400 {font-weight: 400}
.fw500 {font-weight: 500}
.color_red {color: #d71921 !important}
.bg_navi {background-color: #2c4059 !important}
.bg_red {background-color: #d71921 !important}
.bg_yellow {background-color: #f7941d !important}
.bg_gray {background-color: #666 !important}

/* form */
input[type=text][readonly] {background: #f2f3f5;}
select, input[type=text], input[type=password] {width: 100%; height: 30px; padding-left: 7px; font-size: 12px}
select {background-image: url(../images/common/icon_select_m.gif); background-repeat: no-repeat; background-position: calc(100% - 7px) 50%; background-size: 10px}
.checkbox, .radio {display: inline-block; vertical-align: middle}
.checkbox label, .radio label {position: relative; padding-left: 22px}
.checkbox label:before, .radio label:before {content: ''; position: absolute; top: 2px; left: 0; width: 17px; height: 17px; background-size: 100%}
.checkbox + .checkbox, .radio + .radio {margin-left: 16px}
.checkbox label:before {background-image: url(../images/checkbox.png)}
.checkbox input[type=checkbox]:checked + label:before {background-image: url(../images/checkbox_on.png)}

body {background: #f4f4f4}

.header {padding: 40px 0 15px}
.header .logo {width: 164px; margin: 0 auto}

/* title */
h2.tit {padding: 17px 0 19px; font-size: 23px; font-weight: 500; color: #333; text-align: center}
h3.tit {position: relative; margin-bottom: 9px; padding-left: 18px; font-size: 16px; font-weight: 500; color: #333}
h3.tit:before {content: ''; position: absolute; top: 6px; left: 0; width: 13px; height: 13px; background: url(../images/common/icon_tit_m.gif); background-size: 13px}

/* button */
.btn_wrap {position: relative; margin-top: 17px; text-align: center}
.btn_normal {display: inline-block; height: 37px; padding: 0 20px; font-weight: 400; color: #fff; line-height: 37px; background-color: #999; box-sizing: border-box; text-align: center;}
.btn_normal + .btn_normal {margin-left: 7px}
.btn_s_normal {display: inline-block; height: 30px; padding: 0 12px; color: #fff; background: #999; line-height: 30px; text-align: center}
.btn_next_step {padding-left: 20px; padding-right: 41px; text-align: left; background-color: #d71921; background-image: url(../images/common/icon_next_m.png); background-size: 14px; background-position: calc(100% - 14px) 50%; background-repeat: no-repeat}
.btn_prev_step {padding-right: 20px; padding-left: 41px; text-align: right; background-color: #666; background-image: url(../images/common/icon_prev_m.png); background-size: 14px; background-position: 21px 50%; background-repeat: no-repeat}
.btn_wrap.btn3 {width: 240px; margin-left: auto; margin-right: auto}
.btn_wrap.btn3:after {content: ''; display: block; clear: both}
.btn_wrap.btn3 .btn_cancel {float: right; margin-top: 10px}

/* table */
.normal_table {min-width: 100%; border-top: 2px solid #d71921; text-align: center; table-layout: auto}
.normal_table colgroup {display: none}
.normal_table th, .normal_table td {padding: 9px 18px; border-right: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9; white-space: nowrap}
.normal_table th {position: relative; font-weight: 500; color: #333; border-bottom: 1px solid #d9d9d9; background: #faf6f0}
.normal_table th.dep2 {background: #f4f4f4}
.normal_table th:last-child, .normal_table td:last-child {border-right: 0}
.normal_table th:last-child.dep2 {border-right: 1px solid #d9d9d9}
.normal_table td.tit {padding: 9px 0 9px 15px; font-weight: 500; color: #333; border-bottom: 1px solid #d9d9d9; background: #faf6f0; text-align: left}
.normal_table tbody tr:last-child td {border-bottom-color: #333}


/* paging */
.paging {margin-top: 18px; font-size: 0; text-align: center}
.paging a{display: inline-block; width: 25px; height: 25px; margin-right: 5px; font-size: 13px; color: #999; line-height: 24px; border: 1px solid #d9d9d9; vertical-align: top; box-sizing: border-box; background-size: 100%}
.paging a:last-child {margin-right: 0}
.paging .active {font-weight: 400; color: #fff; background: #d71921; border-color: #d71921; text-decoration: underline}
.paging .btn_first {background-image: url(../images/common/paging01_m.gif)}
.paging .btn_prev {margin-right: 13px; background-image: url(../images/common/paging02_m.gif)}
.paging .btn_next {margin-left: 8px; background-image: url(../images/common/paging03_m.gif)}
.paging .btn_last {background-image: url(../images/common/paging04_m.gif)}


@media screen and (min-width: 1280px){

	body {font-size: 15px}

	/* header */
	.header {position: relative; height: 165px; padding: 0}
	.header .logo {position: absolute; top: 30px; left: 50%; width: auto; margin: 0 0 0 -640px}

	/* title */
	h2.tit {padding: 38px 0 28px; font-size: 36px; font-weight: 500}
	h3.tit {margin-bottom: 17px; padding-left: 23px; font-size: 20px}
	h3.tit:before {top: 8px; width: 16px; height: 16px; background: url(../images/common/icon_tit.gif); background-size: 16px}

	/* form */
	select, input[type="text"], input[type="password"] {height: 40px; padding-left: 14px; font-size: 14px}
	select {background-image: url(../images/common/icon_select.gif); background-position: calc(100% - 14px) 50%; background-size: auto}
	.checkbox label, .radio label {padding-left: 30px}
	.checkbox label:before, .radio label:before {top: 2px; width: 20px; height: 20px}
	.checkbox + .checkbox, .radio + .radio {margin-left: 12px}
	.checkbox2 label, .radio2 label {width: 20px; height: 20px}
	.date_wrap .ui-datepicker-trigger {top: 50%; right: 15px; width: 20px; height: 20px; margin-top: -10px}
	.date_wrap .ui-datepicker-trigger img {width: 20px; height: 20px}
	.date_wrap + .date_wrap {margin-left: 27px}
	.date_wrap + .date_wrap:before {left: -17px; top: 8px}
	.radio label:before {background-image: url(../images/common/radio.png)}
	.radio input[type=radio]:checked + label:before {background-image: url(../images/common/radio_on.png)}
	.radio2 label {background-image: url(../images/common/radio.png)}
	.radio2 input[type=radio]:checked + label {background-image: url(../images/common/radio_on.png)}
	.textarea {height: 90px}

	/* button */
	.btn_wrap {margin-top: 30px}
	.btn_normal {height: 46px; padding: 0 36px; line-height: 46px}
	.btn_normal + .btn_normal {margin-left: 7px}
	.btn_s_normal {height: 40px; padding: 0 15px; line-height: 40px}
	.btn_next_step {padding-left: 36px; padding-right: 68px; background-image: url(../images/common/icon_next.png); background-position: calc(100% - 38px) 50%; background-size: auto}
	.btn_prev_step {padding-right: 36px; padding-left: 68px; background-image: url(../images/common/icon_prev.png); background-size: auto; background-position: 34px 50%}
	.btn_cancel {position: absolute; top: 0; right: 0}
	.btn_wrap.btn3 {width: auto; margin-left: 0; margin-right: 0}
	.btn_wrap.btn3 .btn_cancel {float: none; margin-top: 0}

	/* table */
	.normal_table {table-layout: fixed}
	.normal_table colgroup {display: table-column-group}
	.normal_table th, .normal_table td {padding: 16px 10px; white-space: normal}
	.normal_table th {font-size: 15px}
	.normal_table td.tit {padding: 16px 0 16px 20px}


	/* paging */
	.paging {margin-top: 30px}
	.paging a {width: 33px; height: 33px; margin-right: 5px; font-size: 14px; line-height: 32px}
	.paging .btn_first {background-image: url(../images/common/paging01.gif)}
	.paging .btn_prev {margin-right: 20px; background-image: url(../images/common/paging02.gif)}
	.paging .btn_next {margin-left: 15px; background-image: url(../images/common/paging03.gif)}
	.paging .btn_last {background-image: url(../images/common/paging04.gif)}
	.btn_wrap + .paging {margin-top: -46px}


}
